* {
  /*border: dashed red !important;*/
}

body {
  background: #f9f9ed;
  font-family: sans-serif;
}

nav {
  background: #d9dbf1;
}

main {
  height: 100vh;
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow: auto;
}

.container-fluid {
  height: 100%;
  background: #f9f9ed;
}

.h1,
.p {
  color: #7d84b2 !important;
}

.navbar-brand {
  color: #7d84b2 !important;
}

.progrees-bar-row {
  margin-top: 50px;
}

.progress {
  background-color: #d9dbf1;
}

.progress-bar {
  background-color: #8e9dcc;
}

.math-task-row {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}


.math {
  display: flex;
  flex-flow: column;
  position: relative;*/
  font-size: calc(1.4rem + 2vh + 4vw);
}

.math-wrapper {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: calc(1.4rem + 2vh + 4vw);
}

.task-wrapper {
  border-bottom: 0.1em solid #353951;
}

.numbers {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.task {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    padding: 0 0.2em;
}

.product-wrapper {
    padding: 0 0.2em;
}

.multiplicant, .multiplier, .product {
    display: flex;
    align-items: flex-end;
    color: #353951;
}

.operator {
  padding-right: 0.2em;
}
/*input - how to change sizing? ect */
input{
  width:150px;
  color: #353951;
  /* display: flex;
  align-items: flex-end; */
  display: inline-block;
  height: 100px
}

/*.product-input {
  width: 200px;
  border: none;
  margin-top: 20px;
}*/

#result {
  color: #7d84b2;
}

#about,
#how_it_works {
  margin: calc(1.5em + 1vh) auto calc(0.75em + 0.5vh) auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: sans-serif;
}
